@CHARSET "UTF-8";

body {
	background-color: rgb(163,220,255);
}

#main-area {
	width: 100%;
}

#content-area, #page-title {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.error {
	color: red;
}

div.accounts {
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

div.form-element {
	margin-bottom: 10px;
	width: 100%;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
	height: 100px;
}

span.account-sum {
	margin-right: 15px;
}

span.account-sum.positive {
	color: green;
}

span.account-sum.negative {
	color: red;
}

span.event-amount.positive {
	color: green;
}

span.event-amount.negative {
	color: red;
}

.event-content {
	background-color: #e2e5e7;
}

.account-events {
	margin-top: 5px;
}

.delete-account-button,
.add-event-button {
	width: 25px;
	height: 25px;
}

.delete-account-button .ui-button-icon-primary,
.add-event-button .ui-button-icon-primary {
	left: 4px;
}